<div class="flex flex-col space-y-1 justify-center">
<h1 class = "place-self-center text-gray-900 font-light mb-3">People You May Know</h1>
  <div class="flex flex-col" id="suggested-friend-list">
    <% @user.not_friends?.limit(2).each do |friend| %>
      <%= turbo_frame_tag "suggested_friend_#{friend.id}" do %>
        <% render 'dashboard/dashboard_partials/suggested_friend_card', friend: friend %>
      <% end %>
    <% end %>
  </div>
</div>