<% flash.each do |type, msg| %>
  <div data-controller="notification" class="notice flex flex-row justify-center items-center font-light text-white bg-gradient-to-r from-blue-900 via-blue-400 to-amber-400 h-4vh max-w-full">
     <%= msg %>
  </div>
<% end %>