
<footer class="flex flex-row fixed bottom-0 w-100vw justify-center p-4 bg-white">
    <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2022 Made by
      <a href="https://github.com/Ivan-P23994" class="hover:underline">Ivan Pavlovic</a>
    </span>
</footer>
