<%= turbo_frame_tag "friend_request_counter" do %>
 <div class="inline-flex absolute -top-2 -right-2 justify-center items-center w-6 h-6 text-xs font-bold text-white bg-red-500 rounded-full border-2 border-white dark:border-gray-900"><%= counter %></div>
<% end %>